<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Car Share</title>
</head>
<body>
	<table>
		{% for row in rows %}

        <tr>
            <td>{{row["id"]}}</td>
            <td>{{row["user_id"]}}</td>
            <td>{{row["pick_up_location"]}}</td>

        </tr>

    	{% endfor %}
	</table>

	<form action = "/register" method="post">  
    <table>
        <tr><td>Name</td><td><input type="text" name="name" value="kri"></td></tr>
        <tr><td>Email</td><td><input type="email" name="email" value="kri@gmail.com"></td></tr>  
        <tr><td>Password</td><td><input type="text" name="password" value="kri"></td></tr>  
        <tr><td>Role</td><td><select name="role">
			    <option value="DRIVER">Driver</option>
			    <option value="PASSENGER">Passenger</option>
			  </select></td></tr>  
       
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
    <h3>Registration Status: {{msg}}</h3> 

    <form action = "/login" method="post">  
    <table>  
        
        <tr><td>Email</td><td><input type="email" name="email" value="kri@gmail.com"></td></tr>  
        <tr><td>Password</td><td><input type="text" name="password" value="kri"></td></tr>  
       
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
	<h3>Login Status: {{loginMsg}}</h3> 
    
</body>
</html>